<<<<<<< HEAD
<div class="navbar navbar navbar-fixed-top" role="navigation">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
               </button>
               <a class="navbar-brand" href="/" style="background-color:white;">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                  <li id="loginas" style="padding-top:5px; padding-left:5px; padding-bottom:6px; padding-right:1px; background-color:white;"><span class="glyphicon glyphicon-user"></span></li>
                  <li><button id="registerbtn" type="button" class="btn" onclick="window.location.href='/register'"><span class="glyphicon glyphicon-user"></span> Sign Up</button></li>
                  <li><button id="loginbtn" type="button" class="btn" onclick="window.location.href='/login'"><span class="glyphicon glyphicon-log-in"></span> Login</button></li>
                  <li><button id="logoutbtn" type="button" class="btn" onclick="window.location.href='/logout'"><span class="glyphicon glyphicon-log-in"></span> Log Out</li>
               </ul>
            </div>
         </div>
=======
<div class="navbar navbar navbar-fixed-top" role="navigation">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
               </button>
               <a class="navbar-brand" href="/" style="background-color:white;">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                  <li id="loginas" style="padding-top:5px; padding-left:5px; padding-bottom:6px; padding-right:1px; background-color:white;"><span class="glyphicon glyphicon-user"></span></li>
                  <li><button id="registerbtn" type="button" class="btn" onclick="window.location.href='/register'"><span class="glyphicon glyphicon-user"></span> Sign Up</button></li>
                  <li><button id="loginbtn" type="button" class="btn" onclick="window.location.href='/login'"><span class="glyphicon glyphicon-log-in"></span> Login</button></li>
                  <li><button id="logoutbtn" type="button" class="btn" onclick="window.location.href='/logout'"><span class="glyphicon glyphicon-log-in"></span> Log Out</li>
               </ul>
            </div>
         </div>
>>>>>>> 45f49d8dd506eb3ced9d18360d63b8d5d363d6f9
      </div>