<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      
    }
    #toTop {
    display: none;
    position: fixed; 
    bottom: 70px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #E0FFFF; 
    background-color: black;
    color: white; 
    cursor: pointer; 
    padding: 15px; 

}

#toTop:hover {
    background-color: #DCDCDC; 
}

    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>
  <% include partials/navbar %>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Hello</h4>
      <ul class="nav nav-pills nav-stacked">
        <li onclick="getPost('reddit')"><a href="#">Reddit</a></li>
        <li onclick="getPost('hackernews')"><a href="#">HackerNews</a></li>
        <li onclick="getPost('medium')"><a href="#">Medium</a></li>
        <li onclick="getPost('slashdot')"><a href="#">SlashDot</a></li>

      </ul><br>
 
    </div>

    <div class="col-sm-9 post">

    </div>
  </div>
</div>
<button onclick="topFunction()" id="toTop" title="Go to top">Top</button>
<footer class="container-fluid">
  <p>Made by Guanchen Zhang</p>
</footer>

</body>
</html>

<script>

function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();

}

  var userid = getCookie("userid");
  if (userid != '' && userid!=null) {
    $("#myinput").show();
    $("#noinput").hide();
    $(".button").prop("disabled",true)
    $("#button_"+userid).prop("disabled",false)
    $("#button_"+userid).removeClass("btn btn-default disabled").addClass("btn btn-default");
    dispuser = "Login as " + userid;
    document.getElementById('loginbtn').style.display= 'none';
    document.getElementById('registerbtn').style.display= 'none';
    document.getElementById('loginas').innerHTML=dispuser;
    document.getElementById('logoutbtn').style.visibility="visible";
    document.getElementById('announcement').style.visibility="visible";
  } else {
    $("#myinput").hide();
    $("#noinput").show();

    document.getElementById('loginbtn').style.visibility="visible";
    document.getElementById('registerbtn').style.visibility="visible";
    document.getElementById('loginas').innerHTML="";
    document.getElementById('logoutbtn').style.display= 'none';
    document.getElementById('announcement').style.display= 'none';
  }



function getPost(website){
  $.getJSON("/"+website,function(result){
    $(".col-sm-9").empty()
    console.log(result)
    var data = JSON.parse(result)
    for (var i =0; i<data.length;i++){
      $.each(data[i],function(i,field){
      var post = '<h4><small>RECENT POSTS</small></h4><h3><a target="_blank" href="'+field.link+'"">'+field.title+'</a></h3><hr><br>'
      $(post).appendTo(".col-sm-9")
    })
    }
  })  
}




window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        $("#toTop").css("display","block");
    } else {
        $("#toTop").css("display","block");
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0; 
    document.documentElement.scrollTop = 0; 
}
</script>